API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=1BVtsOIUBu2p-hf6ZM83iiMz1yz1O5CvibJlHZ_Zmoq0q6W-nXBscuN7GpdrQgk13ZVl1P6d1HdlcIL6KjIOmMZhbMYyvH6Wm3xNp0oU_pxByiu_0oCpDK6TbELlyqEKoVRJkow00u7-CNgI1G1zkrJCmcME7ovGZcnVDvNuRu5o4peVDidHuLPtR67ZhpZFSP7k_SGH03lU5dTk8vd4jnxRFtBOthKeVCCV_rSR9NnP3fc_qds9ZpDCmJdonymiOSsHIzyx6GwELsUJlKFFb6fLCEjO7YJ77vprJGmcnAibmsLgkenn7T1GfpURe0wHKpVxNxmRxTmuIlYnL85DvITAsgs5ZoN4=
